---
const today = new Date();
---

<footer>
	&copy;{today.getFullYear()} ilajna. <a href="https://github.com/cassidoo/blahg">Shoutout to Cassidy Williams!</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
