---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>{SITE_DESCRIPTION}</h2>
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">Home</HeaderLink>
	<HeaderLink href="/posts">Blog</HeaderLink>
	<HeaderLink href="https://x.com/joshi_kamal250" target="_blank" rel="noopener noreferrer">Twitter</HeaderLink>
	<HeaderLink href="https://resume.ilajna.live" target="_blank" rel="noopener noreferrer">My Resume</HeaderLink>
	<HeaderLink href="https://www.linkedin.com/in/kamal-joshi-34280431/" target="_blank" rel="noopener noreferrer">LinkedIn</HeaderLink>
	<HeaderLink href="https://digitalgarden.ilajna.live" target="_blank" rel="noopener noreferrer">My Digital Garden</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
